# vim: set backupcopy=yes :
{
	#admin localhost:8019
	acme_dns duckdns 07f2b8b4-58ef-418f-a78f-101365a49465
	# LetsEncrypt account
	#email fake@email.com
}

(auth) {
	basicauth {
		mikle JDJhJDE0JFhoamZjVC9Nd1dsWWdBbE8wRHJ4anV4MXRucDdCZEN3ZlZodTl0bjlsU1ZqYVlOZ2RwZVcy
		root JDJhJDE0JDJWMjNWdENvaUl1ZEdCbURRZkVDRU9MRWNBY2tKY3BvYmNVaVYwRXpNblE3TW1oVnRIMEp1
		ter224 JDJhJDE0JGZDSFJRWXNyeExVWXZvbWJKSmszSmVDVElHZU54bjEudHFSa1d4eG5wZmszby5GYlRjMGFt
	}
}

(auth_rproxy) {
	# {domain} {host:port}
	{args.0}.ter224.duckdns.org {
		import auth
		reverse_proxy {args.1}
	}
}

(rproxy) {
	{args.0}.ter224.duckdns.org {
		reverse_proxy {args.1}
	}
}

import auth_rproxy dashboard localhost:4646
import auth_rproxy reg registry:5000
import auth_rproxy sb snippet-box:5000
import rproxy 0bin 0bin:3255
import rproxy ascii ascii:8080
import rproxy git gitea:3000
import rproxy headscale headscale:80
import rproxy pt psitransfer:3000
import rproxy qbit qbittorrent:8080
import rproxy vaultwarden vaultwarden:80
import rproxy wg wg-gen-web:8080
import rproxy wg2 wg-access-server:8000
import rproxy zt zero-ui:4000
import rproxy portainer portainer:9000

pihole.ter224.duckdns.org {
	# reverse_proxy pihole:80 
	redir http://192.168.196.211:8080 302
}

mbond.duckdns.org {
	tls {
		dns duckdns 3b57a4af-d438-4c83-9cd7-22c0b5dfd06d
	}
	respond * "TBD" 200
}
