# vim: set backupcopy=yes :
{
	#admin localhost:8019
	# acme_dns duckdns 07f2b8b4-58ef-418f-a78f-101365a49465
	# LetsEncrypt account
	#email fake@email.com
}

(tlsdns) {
	tls {
		dns duckdns 07f2b8b4-58ef-418f-a78f-101365a49465
	}
}

(auth) {
	basicauth {
		mikle JDJhJDE0JFhoamZjVC9Nd1dsWWdBbE8wRHJ4anV4MXRucDdCZEN3ZlZodTl0bjlsU1ZqYVlOZ2RwZVcy
		root JDJhJDE0JDJWMjNWdENvaUl1ZEdCbURRZkVDRU9MRWNBY2tKY3BvYmNVaVYwRXpNblE3TW1oVnRIMEp1
		ter224 JDJhJDE0JGZDSFJRWXNyeExVWXZvbWJKSmszSmVDVElHZU54bjEudHFSa1d4eG5wZmszby5GYlRjMGFt
		user JDJhJDE0JFVzLjVhYWY1aVFpZzd2aC5PVUluWmVNYlloY1BrWnJ3UGZZby5ZYXg5QmlKbnduRkVueHZt
	}
}

ter224.duckdns.org {
	import tlsdns
	root * /www
	file_server
	templates
}

(auth_rproxy) {
	# {domain} {host:port}
	{args.0}.ter224.duckdns.org {
		import tlsdns
		import auth
		reverse_proxy {args.1}
	}
}

(rproxy) {
	{args.0}.ter224.duckdns.org {
		import tlsdns
		reverse_proxy {args.1}
	}
}

(consul_proxy) {
	{args.0}.ter224.duckdns.org {
		import tlsdns
		reverse_proxy srv+http://{args.0}.service.consul
	}
}

headscale.ter224.duckdns.org {
	import tlsdns
	handle /metrics {
		import auth
		reverse_proxy headscale:9090
	}
	handle_path /grpc {
		reverse_proxy grpc://headscale:50443
	}
	handle {
		reverse_proxy headscale:80
	}
}

import auth_rproxy dashboard localhost:4646
import auth_rproxy reg registry:5000
import auth_rproxy sb snippet-box:5000
import rproxy 0bin 0bin:3255
import rproxy ascii ascii:8080
import rproxy drone drone-server:80
import rproxy file filebrowser:80
import rproxy git gitea:3000
#import rproxy headscale headscale:80
import rproxy lingva lingva:3000
#import rproxy ntfy ntfy:80
import consul_proxy ntfy
import rproxy openspeedtest openspeedtest:3000
import rproxy portainer portainer:9000
import rproxy pt psitransfer:3000
import rproxy qbit qbittorrent:8080
import rproxy vaultwarden vaultwarden:80
import rproxy wg wg-gen-web:8080
#import rproxy wg2 wg-access-server:8000
import rproxy zt zero-ui:4000

qrazybox.ter224.duckdns.org {
	import tlsdns
	root * /qrazybox/
	file_server {
		hide .git
	}
}

#pihole.ter224.duckdns.org {
#	reverse_proxy pihole:80 
#	redir http://192.168.196.211:8080 302
#}

mbond.duckdns.org {
	tls {
		dns duckdns 3b57a4af-d438-4c83-9cd7-22c0b5dfd06d
	}
	respond * "TBD" 200
}

globocraft.ru {
	root * /www-globo
	file_server
	templates
}

map.globocraft.ru {
	# reverse_proxy srv+http://map.service.consul
	reverse_proxy http://192.168.1.5:8190
}

launcher.globocraft.ru {
	handle /api/* {
		reverse_proxy http://localhost:9274
	}
	handle /webapi/* {
		reverse_proxy http://localhost:9274
	}
	handle {
		root * /launcher
		file_server
	}
}

	

